# Ignore files build by Ruby on Rails
.DS_Store
.bundle/
.zeus.sock
.byebug_history
.tm_properties
custom_plan.rb
zeus.json
.eprj
.gem/
.rdebug_hist/
.rdebug_hist
.rvmrc
.sass-cache/
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
config/database.yml
log/
solr/data/*
tags
tmp/
vendor/cache/

# Ignore byebug history
.byebug_history

# Ignore better_errors configuration
config/initializers/better_errors.rb

# Ignore byebug files
.byebug_history

# Ignore rbuby environment settings
.rbenv-gemsets
.ruby-version
.jrubyrc

# Ignore images that paperclip / dragonfly stored
public/attachments/**/*
public/system/dragonfly**/*

# Ignore security audit reports
security_audit_reports/

# Ignore vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Ignore NetBeans project files
nbproject/

# Ignore Jetbrains project files
*.iml
*.ipr
.idea/

# Ignore Redcar project files
.redcar/

# Ignore core dumps
core

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
#*.obj
#*.exe
#*.pdb
#*.user
#*.aps
#*.pch
#*.vspscc
#*_i.c
#*_p.c
#*.ncb
#*.suo
#*.tlb
#*.tlh
#*.bak
#*.cache
#*.ilk
#*.log
#[Bb]in
#[Dd]ebug*/
#*.lib
#*.sbr
#obj/
#[Rr]elease*/
#_ReSharper*/
#[Tt]est[Rr]esult*
